.canvas-container {
    width: 25%;
    height: 250px;
    /*margin: 2% auto 0 auto;*/
}

.submit {
    margin-top: 2%;
    width: 40%;
}

.reset{
    margin-top: 2%;
}


#new-log-button {
    margin-bottom: 2%;
}

.inner-section {
    /*width: 80%;*/
    /*margin-left: 35%;*/
}

.user-inputs {
   
}


/*Styling For Modal*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
